* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../img/background.png");
}

.all_site {
    width: 1000px;
    margin: 0 auto;
    background: white;
    box-shadow: #292929 0 3px 20px 0 ;
}

.header {
    height: 175px;
    position: relative;
    color: #128aa7;
}

.logo {
    display: inline-block;
    margin-left: 30px;
}

.asia_holidays {
    margin-top: 10px;
}

.slogan {
    display: block;
    position: absolute;
    top: 110px;
    left: 100px;
    font: 12px Tahoma, sans-serif;

}

.contacts {
    display: block;
    float: right;
    margin: 16px 30px 0;
    font: 12px Tahoma, sans-serif;

}
/*.contacts:after {
    content: '';
    clear: both;
}*/

.contacts span {
    font-weight: bold;
}

.countries {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 110px;;
    font: 10px Tahoma, sans-serif;
    text-align: center;
}

.county_item {
    display: inline-block;
    margin: 0 7px;
}

.county_item a {
    color: #128aa7;
}

.photo {
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
}

.nav {

    background: #323232;
    
    border-bottom: 1px solid black;
    box-shadow: 0 2px 10px 0 #4b4b4b;

}

.nav li {
    display: inline-block;
    color: white;
    font: 12px sans-serif;
}

.nav li a {
    padding:0 30px;
    color: white;
    text-decoration: none;
    line-height: 30px;
}

.nav li ul {
    display: none;
}

.nav li:hover {
    display: block;
    background: green;
}

.content {
    background: white;
}

.left_col {
    float: left;
    border-right: 1px solid #c7cacf;
}
.right_col {
    float: right;
    border-left: 1px solid #c7cacf;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.right_col,.left_col {
    width: 20%;
    background: #edeef0;
    color: #424c43;
    font: 14px sans-serif;
}

.left_col span, .right_col span  {
     display: block;
     padding: 10px;
     font: 18px sans-serif;
     font-weight: bold;
     text-align: center;
}

.right_col  ul li,.left_col ul li {
    padding: 5px;
    margin: 0 10px;
}

.footer {
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    color: white;
}